<html>
  <head>
    <title>Generate referral link</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Generate referral link</h1>
    <label>Enter link:<input type="text" class="link" name="link" /></label>
    <button onclick="getReferralLink()">Get link</button>
    <script src="index.js"></script>
    <h3>Your referral link is : <span class="referralLink"></span></h3>
  </body>
</html>
